.container {
  width: 1270px;
  margin: 0 auto;
  /* background-color: rgb(85, 14, 14); */
  /* height: 600px; */
  margin-top: 20px;
  margin-bottom: 40px;
}

.message {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
